# Training runs (models, plots, GIFs)
train/runs/**

# Python
.venv/
__pycache__/
*.pyc
*.pyo
*.pyd
*.egg-info/
dist/
build/

# macOS
.DS_Store

# photos
# 2. Allow Git to look into subdirectories 
!train/runs/**/

# 3. Re-include only .png and .gif files inside train/runs
!train/runs/**/*.png
!train/runs/**/*.gif
